body {
  font-family: sans-serif;
}
p,
ul {
  border: 2px solid rebeccapurple;
}

span,
li {
  border: 2px solid blue;
}

ul {
  display: inline-flex;
  /* you can change display: inline to display: block or display: inline-flex to display: flex to hit-and-trial different possibilities. */
  list-style: none;
  padding: 0;
}

.inline {
  display: inline;
}
